body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    background: url(background.jpg);
    
}

.topBar {
    display: grid;
    background-color: #9c9c9c;
    grid-template-columns: auto 1fr auto;
    
    
}

.buttons {
    display:grid;
    grid-column: 4;
    margin: 10px 200px;
}

.button {
    background-color: rgb(184, 184, 184);
    border: none;
    color: rgb(0, 0, 0);
    text-decoration:dashed;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 14px;
    margin: 30px 100px;
    grid-row: 1;
}

h1 {
    margin: auto 10px;
}

p {
    color:white;
    margin: 5px 5px;
    
}
