body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    background: url(background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000vh;
    
}

.topBar {
    right: 0px;
    left: 0px;
    display: grid;
    background-color: #9c9c9c;
    grid-template-columns: auto 1fr auto;
    size-adjust: 35%;
}

.buttons {
    display:grid;
    grid-column: 4;
    margin: 10% 10%;
}

.button {
    background-color: rgb(184, 184, 184);
    border: none;
    color: rgb(0, 0, 0);
    font-size: auto;
    padding: 10% 10%;
    border-radius: 7%;
    margin: 10% 20%;
    grid-row: 1;
}

h1 {
    margin: auto 10%;
}
